{% extends 'front/_base.html' %}
{% load static %}
{% load i18n %}

{#{% load crispy_forms_tags %}#}
{% block page_title %}{% trans 'login page' %}{% endblock %}
{% block style %}{% endblock %}
{% block content %}
    {% trans 'account' as page_cat %}
    {% trans 'login' as title_page %}
    {% comment %} {% include 'front/partials/breadcrumbheader.html' with page_cat=page_cat header_title=title_page modebox='login' %} {% endcomment %}


    <div class="card card-style">
        <div class="content">
            <form  method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h1 class="text-center font-800 font-30 mb-2">{% trans 'login' %}</h1>
                <p class="text-center font-13 mb-3">اطلاعات حساب کابری را وارد کنید</p>
               
                {% if form.errors %}
                    <div class="alert alert-danger text-right">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <span>{{ field.label }}{{field}}: {{ error }}</span><br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                                               {% comment %} {% if form.non_field_errors %} 
    {% for error in form.non_field_errors %} 
       <p>{{ error }}</p> 
   {% endfor %} 
 {% endif %}  {% endcomment %}

                <div class="form-custom form-label form-icon mb-3">
                    <i class="bi bi-person-circle font-14"></i>
                    <input type="text" class="form-control rounded-xs" id="c1" name="username" placeholder="{% trans "mail address" %}"/>
                    <label for="c1" class="color-theme">{% trans "mail address" %}</label>
                    <span>(ضروری)</span>
                </div>
                <div class="form-custom form-label form-icon mb-3">
                    <i class="bi bi-asterisk font-12"></i>
                    <input type="text" class="form-control rounded-xs" id="c2" name="password" placeholder="{% trans 'password' %}"/>
                    <label for="c2" class="color-theme">{% trans 'password' %}</label>
                    <span>(ضروری)</span>
                </div>

                {% comment %} {% trans 'remember me' %} {% endcomment %}
                <button class='btn rounded-sm btn-m gradient-green font-700 mt-4 mb-3 btn-full shadow-bg shadow-bg-s'>{% trans 'login' %}</button>
                {% comment %} <a href="#" class='btn rounded-sm btn-m gradient-green font-700 mt-4 mb-3 btn-full shadow-bg shadow-bg-s'>{% trans 'login' %}</a> {% endcomment %}
                <div class="d-flex">
                    <div>
                        <a href="page-forgot-1.html" class="color-theme opacity-30 font-12">{% trans 'forget password?' %}</a>
                    </div>
                    {% comment %} <div class="ms-auto">
                        <a href="page-register-1.html" class="color-theme opacity-30 font-12">ایجاد حساب</a>
                    </div> {% endcomment %}
                </div>

            </form>
        </div>
    </div>








    {% comment %} {% static 'front/assets/images/backgrounds/login-bg.jpg' %} {% endcomment %}
    {% comment %} {% trans 'login' %} {% endcomment %}
    {% comment %} {% url 'login' %} {% endcomment %}
                          
                                    {% comment %} <form method="POST" action="{% url 'account_login' %}"> {% endcomment %}
                                         {% comment %} {% csrf_token %} {% endcomment %}
                                         {% comment %} {% trans "mail address" %} {% endcomment %}
                                    {% comment %} {% trans 'password' %}  {% endcomment %}
                                       {% comment %} {% trans 'login' %}  {% endcomment %}
                                            {% comment %} <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember-2" name="remember">
{#                                                {{ form.remember }}#}
                                                <label class="custom-control-label" for="signin-remember-2">{% trans 'remember me' %}</label>
                                            </div><!-- End .custom-checkbox --> {% endcomment %}

                                            {% comment %} <a href="{% url 'account_reset_password' %}" class="forgot-link">{% trans 'forget password?' %}</a> {% endcomment %}
                                          
                                        {% comment %} <p class="text-center">{% trans 'dont have account?' %}<a  href="{% url 'account_signup' %}">{% trans 'sign up' %}</a></p> {% endcomment %}
                                         

{% endblock %}
