{% extends 'front/_base.html' %}
{% load account %}
{% load i18n %}
{#{% load crispy_forms_tags %}#}
{% load persian_translation_tags %}
{% load humanize %}
{% block page_title %}
    {% trans 'dashboars - personal info' %}
{% endblock %}
{% block content %}

    <main class="main">

        {% trans 'account' as page_cat %}
        {% trans 'personal info' as title_page %}
        {% include 'front/partials/breadcrumbheader.html' with page_cat=page_cat header_title=title_page %}


        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        {% include 'core/partials/dashboard_side.html' %}

                        {#                        <div class="col-md-8 col-lg-9">#}
                        <div class="col-md-9 col-lg-10">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                     aria-labelledby="tab-dashboard-link">


                                    {% if form.errors %}
                                        <div class="alert alert-danger text-right">
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <span>{{ field.label }}: {{ error }}</span><br>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <form method="POST" action="{% url 'change_info' %}"
                                          class="password_change">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {{ form.first_name.label_tag }}
                                                {{ form.first_name }}
                                                {#                                            <input type="text" class="form-control" name="{{ form.first_name.name }}" required>#}
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                {{ form.last_name.label_tag }}
                                                {{ form.last_name }}
                                            </div><!-- End .col-sm-6 -->

                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                {{ form.phone_number.label_tag }}
                                                {{ form.phone_number }}
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form.address.label_tag }}
                                                {{ form.address }}
                                            </div><!-- End .col-sm-12 -->
                                        </div><!-- End .row -->


                                        <button type="submit" name="action"
                                                class="btn btn-outline-primary-2 float-right">
                                            <span>{% trans "save" %}</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                        {#        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
                                    </form>
                                </div><!-- .End .tab-pane -->

                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->


    </main><!-- End .main -->

{% endblock %}