<!DOCTYPE HTML>
<html lang="fa" dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>قالب اپلیکیشن دیوو</title>
<link rel="stylesheet" type="text/css" href="/static/front/assets/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/front/assets/fonts/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="/static/front/assets/styles/style.css">
<link rel="stylesheet" type="text/css" href="/static/front/assets/styles/custom.css">
<link rel="manifest" href="_manifest.json">
<meta id="theme-check" name="theme-color" content="#FFFFFF">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png"></head>

<body class="theme-light">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <!-- Header -->
    <div class="header-bar header-fixed header-app header-bar-detached">
		<!-- <a data-back-button href="#"><i class="bi bi-caret-right-fill font-11 color-theme ps-2"></i></a> -->
		<a href="#" class="header-title color-theme font-13"></a>
		<a data-bs-toggle="offcanvas" data-bs-target="#menu-color" href="#"><i class="bi bi-palette-fill font-13 color-highlight"></i></a>
		<a href="#" class="show-on-theme-light" data-toggle-theme><i class="bi bi-moon-fill font-13"></i></a>
		<a href="#" class="show-on-theme-dark" data-toggle-theme ><i class="bi bi-lightbulb-fill color-yellow-dark font-13"></i></a>
	</div>

	<!-- Footer Bar-->
	<div id="footer-bar" class="footer-bar footer-bar-detached">
        <a href="index.html" class="active-nav"><i class="bi bi-house-fill font-16"></i><span>خانه</span></a>
		<a href="devices_group.html" ><i class="bi bi-motherboard font-15"></i><span>دستگاه ها</span></a>
        <a href="system_setting.html"><i class="bi bi-gear font-16"></i><span>تنظیمات</span></a>
        <a href="profile.html" ><i class="bi bi-person font-17"></i><span>پروفایل</span></a>
        <!-- <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-main"><i class="bi bi-list"></i><span>منو</span></a> -->
    </div>

	<!-- Main Sidebar-->
	<div id="menu-main" data-menu-active="nav-comps" data-menu-load="menu-main.html"
		style="width:280px;" class="offcanvas offcanvas-end offcanvas-detached rounded-m">
	</div>
	<!-- Menu Highlights-->
	<div id="menu-color" data-menu-load="menu-highlights.html"
		style="height:340px" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
	</div>

    <!-- Your Page Content Goes Here-->
    <div class="page-content header-clear-medium">
		 

		<div class="card card-style shadow-card shadow-card-l bg-21" data-card-height="200">
			<div class="card-bottom pb-3 px-3">
				<h3 class="color-white">یکتا نیرو صنعت تیوان</h3>
				<p class="color-white opacity-70 mb-0 mt-n1">شرکت یکتا نیرو صنعت نیکان (تیوان) با شماره ثبت 11789 در تاریخ 1391 تاسیس و محصولات خود را در حوزه حفاظت الکتریکی و الکترونیکی پیشرفته، اتوماسیون و هوشمند سازی صنایع مختلف شامل کشاورزی، نفت و گاز ، خودرو سازی ، نیروگاه های خورشیدی  و... با بکارگیری دانش فنی و مطابق با نیاز مصرف کننده تولید و به بازار عرضه می نماید.</p>
			</div>
			<div class="card-overlay bg-gradient-fade opacity-80"></div>
		</div>
 
		<div class="divider mx-4"></div>

		<div class="card card-style gradient-green">
			<div class="content">
				<h3 class="color-white">آخرین اتصال هاب مودم</h3>
				<p class="color-white">1403-02-24 12:11:16 ( 1 دقیقه پیش )</p>
			</div>
		</div>


		<div class="divider mx-4"></div>

		<div class="card card-style py-3">
			<div class="content px-2 text-center">
				<h5 class=" font-12 color-highlight font-700">برای کسب اطلاعات بیشتر از فعالیت های </h5>
				<h2>شرکت دانش بنیان تیوان</h2>
				<p class="mb-3">
					می توانید به سایت ما مراجعه کرده و با روابط عمومی در اطتباط باشید
				</p>
				<a href="https://tivan-co.com/" target="_blank" class="default-link btn btn-m rounded-s gradient-highlight shadow-bg shadow-bg-s px-5 mb-0 mt-2">مشاهده بیشتر</a>
			</div>
		</div>

    </div>
	<!-- End of Page Content-->
</div>
<!--End of Page ID-->

<script src="/static/front/assets/scripts/bootstrap.min.js"></script>
<script src="/static/front/assets/scripts/custom.js"></script>
</body>